<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenteBoaBeta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>808F0CA91BEC54C000F7B3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>808F0CC01BEC54C100F7B3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>808F0CCB1BEC54C100F7B3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
